@model SGP.Core.Application.ViewModels.Usuarios.SaveUsuarioViewModel
@{
    ViewData["Title"] = "Save Usuario";
}

<h1 class="text-primary font-weight-bold">Añadir Usuario</h1>
<hr />
<form method="post" asp-controller="Usuarios" asp-action="CreateUsuario" enctype="multipart/form-data">
    <div class="row">
        <div class="mb-3 col-4">
            <label asp-for="Nombre" class="form-label" style="font-weight:500">Nombre:</label>
            <input type="text" class="form-control" asp-for="Nombre" minlength="3" maxlength="50">
            <span asp-validation-for="Nombre" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Apellido" class="form-label" style="font-weight:500">Apellido:</label>
            <input type="text" class="form-control" asp-for="Apellido" minlength="3" maxlength="100">
            <span asp-validation-for="Apellido" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Telefono" class="form-label" style="font-weight:500">Teléfono:</label>
            <input type="text" class="form-control" asp-for="Telefono" minlength="10" maxlength="20">
            <span asp-validation-for="Telefono" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="NombreUsuario" class="form-label" style="font-weight:500">Usuario:</label>
            <input type="text" class="form-control" asp-for="NombreUsuario" minlength="5" maxlength="30">
            <span asp-validation-for="NombreUsuario" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Correo" class="form-label" style="font-weight:500">Correo electrónico:</label>
            <input type="email" class="form-control" asp-for="Correo" maxlength="450">
            <span asp-validation-for="Correo" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="File" class="form-label" style="font-weight:500">Foto:</label>
            <input type="file" required accept="image/jpeg, image/png, image/jpg" class="form-control" asp-for="File">
            <span asp-validation-for="File" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Contraseña" class="form-label" style="font-weight:500">Contraseña:</label>
            <input type="password" class="form-control" asp-for="Contraseña" minlength="6" maxlength="30">
            <span asp-validation-for="Contraseña" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="ConfirmarContraseña" class="form-label" style="font-weight:500">Confirmar contraseña:</label>
            <input type="password" class="form-control" asp-for="ConfirmarContraseña" minlength="6" maxlength="30">
            <span asp-validation-for="ConfirmarContraseña" class="form-text text-danger"></span>
        </div>
    <input type="hidden" asp-for="IdUsuario" />
    <input type="hidden" asp-for="Activo" value="true" />
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-controller="Login" asp-action="Index" class="btn btn-success">Volver Atrás</a>
</form>